/* poor man's reset */
* {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* gotta have some normalized focus */
:focus {
  border: 1px dotted currentColor;
  outline: none;
}
