.editbar {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 100;
}

.toggleEditMode {
}

.editor {
  display: none;
}

[data-editmode] .editor {
  display: block;
  background-color: #333;
  position: fixed;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: 5;
  padding: 2vh 2vw;
}

.editor textarea {
  height: 45vh;
  width: 45vw;
}
