.infopane {
  position: fixed; top: 0; left: 50%;
  z-index: 100;
  width: 600px;
  padding: 10px;
  margin-left: -300px;
  
  background-color: #333;
  border: 1vw solid #000;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  color: white;

  box-shadow: initial;
  -webkit-transform: translate3D(0%, -100%, 0px);
  transform: translate3D(0%, -100%, 0px);

  transition-property: boxshadow, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.showsInfopane .infopane {
  box-shadow: 0 0 3em 1em rgba(0,0,0,.7);
  -webkit-transform: translate3D(0%, 0%, 0px);
  transform: translate3D(0%, 0%, 0px);
}

.infopane a {
  text-shadow: -1px 1px 0 #333, 1px 1px 0 #333;
}

.infopane section {
  float: left;
  padding: 0 .5em;
  width: 50%;
}

.infopane .icon {
  position: relative; top: 4px;
  color: white;
  height: 20px;
  width: 20px;
}
