.slides {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide {
  width: 100vw;
  height: 100vh;
  padding: 5vw 10vw;
  background-color: white;
  color: black;
  position: fixed;
  z-index: 0;
  transform: scale(1);
  transform-origin: 0 0;
  font-size: 2em;
  margin: 0;

  transition-property: transform, margin;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

.slide--active {
  z-index: 10;
}

.slide h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

[data-editmode] .slide {
  margin: 2.5vh 2.5vw;
  transform: scale(.45);
}
