.slides {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide {
  width: 100vw;
  height: 100vh;
  padding: 5vw 10vw;
  background-color: white;
  color: black;
  position: absolute; left: 0; top: 0;
  z-index: 0;
  transform: scale(1);
  transition: all 0.4s ease-in;
  transition-delay: 0.2s;
  font-size: 2em;
  margin: 0;
}

.slide--active {
  z-index: 10;
}

.slide h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

[data-editmode] .slide {
  transform: scale(.45);
  margin: -25vh -25vw;
}
