.slide {
  background-color: white;
  color: black;
  font-size: 2em;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 5vw 10vw;
  position: fixed;
  top: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition-property: transform, margin;
  transition-duration: .4s;
  transition-timing-function: ease-in;
  width: 100vw;
  z-index: 0;
}

.slide--active {
  z-index: 10;
}

.slide h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.inEditmode .slide {
  margin: 2.5vh 2.5vw;
  -webkit-transform: scale(.45);
  transform: scale(.45);
}
