.toolbar {
  bottom: 1vw;
  position: fixed;
  right: 1vw;
  z-index: 50;
}

.toolbar .icon,
.inEditmode .toolbar__toggleEditMode .icon,
.inEditmode.showsInfopane .toolbar__toggleInfoPane .icon,
.inEditmode.isFullscreen .toolbar__toggleFullScreen .icon {
  color: #eee;
}

.inEditmode .icon,
.showsInfopane .toolbar__toggleInfoPane .icon,
.isFullscreen .toolbar__toggleFullScreen .icon {
  color: #999;
}

.toolbar .icon-arrow-minimise,
.isFullscreen .toolbar .icon-arrow-maximise {
  display: none;
}

.isFullscreen .toolbar .icon-arrow-minimise {
  display: inline-block;
}
